<html>
    <head>
        <title>Trading Bot Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
    
    <div class="ui container">
        <h2>Watch List</h2>
        <table class="ui striped table">
            <thead>
                <tr>
                <th>Stock Tickers</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks%}
                <tr>
                    <td><a href="/stock/{{stock.symbol}}">{{ stock.symbol }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <h2>delete stock from watch list</h2>
            <form action="/delete" method="post">
                <input type="text" name="delete_stock">
                <input type="submit">
            </form>
        
            <h2>Add Stocks to Watchlist</h2>

            <form action="/add" method="post">
            <label for="fname">stock symbol:</label>
            <input type="text" id="fname" name="add_symbol"><br><br>
            <label for="lname">stock exchange:</label>
            <input type="text" id="lname" name="add_exchange"><br><br>
            <input type="submit">
            </form>
            <h2>Add Assets to Active Investments</h2>
            <form action="/add_asset" method="post">
            <label for="fname">stock asset:</label>
            <input type="text" id="fname" name="add_asset"><br><br>
            <input type="submit">
            </form>

            <h2>Active Investments</h2>
            <table class="ui striped table">
                <thead>
                    <tr>
                    <th>Stock Ticker</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders%}
                    <tr>
                        <td>{{order}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            
            <h2>Back Testing</h2>
            <form action="/backtest2" method="post">
            <label for="fname">stock symbol:</label>
            <input type="text" id="fname" name="symbol"><br><br>
            <label for="strat">Choose a strat:</label>
            <select name="strat" id="strat">
              <option value="BuyNHold">BuyNHold</option>
              <option value="GoldenCross">GoldenCross</option>
              <option value="PointAnFigure">Point&Figure</option>
            </select><br><br>
            <label for="period">Choose a period:</label>
                <select name="period" id="period">
                <option value="1y">one year</option>
                <option value="ytd">year to date</option>
                <option value="1d">one day</option>
                <option value="5d">five days</option>
                <option value="1mo">one month</option>
                <option value="3mo">three months</option>
                <option value="6mo">six months</option>
                <option value="2y">two year</option>
                <option value="5y">five year</option>
                <option value="10y">ten year</option>
                <option value="max">max</option>
              </select><br><br>
            <label for="interval">Choose a interval:</label>
            <select name="interval" id="interval">
                <option value="1d">one day</option>
                <option value="1m">one minute</option>
                <option value="2m">two minute</option>
                <option value="5m">five minute</option>
                <option value="15m">fifteen minute</option>
                <option value="30m">thirty minute</option>
                <option value="1h">one hour</option>
                <option value="90m">ninty minute</option>
                <option value="1d">one day</option>
                <option value="5d">five day</option>
                <option value="1wk">one week</option>
                <option value="1mo">one month</option>
                <option value="3mo">three month</option>
            </select>
            <br><br>
            <p>If you get an error it is because of inpropper mix of period and interval.            Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
                Intraday data cannot extend last 60 days</p>
            <input type="submit">
            </form><br><br>
    </div>
    </body>
</html>
