<html>
    <head>
        <title>Basic Form</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <center><h1>Lets Trade Login Page</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="username">Username:</label><br>
            <input type="text" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" name="password"><br>
            <input type="submit" value="Submit"></center>
        </form>
    </body>
</html>