{% extends "layout.html" %}
{% block content %}
    <center><h2>Stock Detail</h2></center> 
    <h3><a href="/"><i class="angle double left icon"></i></a>
    {{stock.symbol}}</h3>

    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_643d7"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "autosize": true,
    "symbol": "{{stock.exchange}}:{{stock.symbol}}",
    "interval": "D",
    "timezone": "America/New_York",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_643d7"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->

  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
    {
    "interval": "1m",
    "width": "425",
    "isTransparent": true,
    "height": "450",
    "symbol": "{{stock.exchange}}:{{stock.symbol}}",
    "showIntervalTabs": true,
    "locale": "en",
    "colorTheme": "dark"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
{% endblock %}
